.profile {
    &-item {
        width: 350px;
        text-align: center;
        margin: 0 auto;
        padding: 80px 0;
    }
    &__img {
        img {
            width: 250px;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__name {
        margin-top: 10px;
        font-size: 14px;
    }
    &-detail {
        margin-top: 50px;
    }
    &-editBtn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

.profileEdit {
    &-item {
        width: 350px;
        margin: 0 auto;
        padding: 80px 0;
    }
    .avatar {
        display: flex;
        img {
            width: 250px;
            height: 200px;
            object-fit: cover;
        }
        label {
            cursor: pointer;
            padding: 1em;
        }
    }
}

@media(max-width:576px) {
    .profile {
        &-item {
            padding: 60px 10px 150px;
        }
    }
}